* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: gray; }

a {
  color: #F2C777;
  text-decoration: underline; }

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0; }

img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px; }

button {
  background-color: #F2C335;
  border: none;
  padding: 1rem .5rem;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  width: 90%; }
  button:hover {
    cursor: pointer; }
  button:focus {
    background-color: #F2C335; }

.container__header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }
  .container__header .material-icons {
    color: white; }
    .container__header .material-icons:hover {
      cursor: pointer; }

.formContainer {
  display: flex;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  .formContainer__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 2.5rem; }
    .formContainer__form .checkbox[type="checkbox"].filled-in:checked + span:not(.lever):after {
      border: 2px solid #F2C777;
      background-color: #F2C777; }
    .formContainer__form .termAndConditionsContainer {
      margin-bottom: 2rem; }
      .formContainer__form .termAndConditionsContainer .termAndConditions {
        color: black; }
    .formContainer__form input[type=text]:not(.browser-default),
    .formContainer__form input[type=email]:not(.browser-default) {
      border-bottom: 1px solid #F2C777;
      height: auto;
      width: 90%; }
    .formContainer__form input[type=text]:not(.browser-default):focus:not([readonly]),
    .formContainer__form input[type=email]:not(.browser-default):focus:not([readonly]) {
      border-bottom: 1px solid #F2C777;
      box-shadow: #F2C777 0px 1px 0px 0px; }
  .formContainer__img {
    width: 50%;
    height: 88vh; }
